.PopupInput {
  font-size: 14px !important;
  font-weight: 600 !important;
  border: none !important;
  outline: none !important;
  text-decoration: underline !important;
 
  border-radius: 5px !important;
  padding: 10px !important;
  width: 250px !important;
  position: absolute !important;
  margin-top: -17px !important;
}

.ff{
  color: #1b202b;
  background-color: rgb(75, 75, 75);
}